extends layout

block content
  h1= title
  p Welcome to Flame Keeper

  h1 DASHBOARD

  if error
    p Error getting dynamic content.
  else
    p UPLOAD STUFF:
    form(method="POST" action="/upload" id="uploadForm" encType="multipart/form-data" target="_blank")         
      input(type="file" name="theUpload")                  
      input(type="submit" form="uploadForm" value="UPLOAD")         
  br
  br

  if error
    p Error getting dynamic content.
  else
    p The library has the following files:

    - let returns = fileInfo.Contents
    - let returnsReversed = returns.reverse();
    - let files = returnsReversed.slice(0,7);
    - let lastUpload = returns[returns.length - 1]; 
        
        
    div
    form(method="GET" action="/" id="launchForm")                          
    each file in files ? files : ['NO!!!']   
      - let audioSrc = `https://fk-audio.s3.amazonaws.com/${file.Key}`                     
      p= file.Key
      p= file.LastModified
      li(class="listy" id=file.Key)            
        audio(controls, type="audio/mpeg" src=audioSrc class="audioElement")
        input(type="checkbox" checked="true" id="audioCheck")
    input(type="submit" form="launchForm" value="Submit")
    button(onclick="checkChecks()") CHECK IT!
    
    
    - let uploadSrc = `https://fk-audio.s3.amazonaws.com/${lastUpload.Key}`
    br
    div
      p= lastUpload.Key
      audio(controls, type="audio/mpeg" src=uploadSrc)   

    div
    p DELETE STUFF:
    form(method="DELETE" action="/delete" id="deleteForm" encType="multipart/form-data" target="_blank")                                        
    input(type="submit" form="deleteForm" name=lastUpload value="UNDO")
    

    script.

      let persistData = []
      function checkChecks(){
      // Query for only the checked checkboxes and put the result in an array
      let checked = Array.prototype.slice.call(document.querySelectorAll("input[type='checkbox']:checked"));      
      // Loop over the array and inspect contents
      checked.forEach(function(cb){
        persistData.push(cb.parentNode.id);        
        });
      console.log(persistData);
      };
      
      
          
      