extends layout
block content
  body(class='css-selector')               
    //-- Header content
    header
      .profileLogo
        //-- Profile logo. Add a img tag in place of <span>.
        p.logoPlaceholder
          img(src='../images/me-logo-wht.png' alt='sample logo')      
      .installation
        //- if error
        //-   p Error getting dynamic content.
        //- else                
              
        - let files = slicedFiles;      
        
        
        //- - let returnsReversed = returns.reverse();
        //- - let files = returnsReversed.slice(0,7);
        //- - let lastUpload = returns[returns.length - 1];
        
        
        div(class="waveform")
        button(class="btn" onclick="startAudio()") Play

    
    script.
        
        let returns0 = `!{JSON.stringify(slicedFiles[0].Name)}`;
        let returns1 = `!{JSON.stringify(slicedFiles[1].Name)}`;
        let returns2 = `!{JSON.stringify(slicedFiles[2].Name)}`;
        let returns3 = `!{JSON.stringify(slicedFiles[3].Name)}`;
        let returns4 = `!{JSON.stringify(slicedFiles[4].Name)}`;
        let returns5 = `!{JSON.stringify(slicedFiles[5].Name)}`;
        let returns6 = `!{JSON.stringify(slicedFiles[6].Name)}`;      
        
        function startAudio() {
          wavesurfer0.on('ready', wavesurfer0.play());
        }
      
        
        
        let wavesurfer0 = WaveSurfer.create({
          container: '.waveform',
          interact: 'false',
          scrollParent: true,
          hideScrollBar: true              
        });
        wavesurfer0.load(`https://fk-audio.s3.amazonaws.com/${returns0.slice(1, -1)}`);      
        //- let samples = wavesurfer0.exportPCM(length);
        //- console.log(samples);
        wavesurfer0.on('ready', function() {                        
          wavesurfer0.play();
          wavesurfer0.toggleInteraction();
          wavesurfer0.setHeight(75);
          

          let timeLength = wavesurfer0.getDuration();                    
        });
        wavesurfer0.on('finish', function(){
          wavesurfer0.play();
        });

        let wavesurfer1 = WaveSurfer.create({
          container: '.waveform'
        });      
        wavesurfer1.load(`https://fk-audio.s3.amazonaws.com/${returns1.slice(1, -1)}`);
        wavesurfer1.on('ready', function() {
          wavesurfer1.play();
          wavesurfer1.toggleInteraction();
          wavesurfer1.setHeight(75);
        });
        wavesurfer1.on('finish', function(){
          wavesurfer1.play();
        });
        
        let wavesurfer2 = WaveSurfer.create({
          container: '.waveform'
        });      
        wavesurfer2.load(`https://fk-audio.s3.amazonaws.com/${returns2.slice(1, -1)}`);
        wavesurfer2.on('ready', function() {
          wavesurfer2.play();
          wavesurfer2.toggleInteraction();
          wavesurfer2.setHeight(75);
        });
        wavesurfer2.on('finish', function(){
          wavesurfer2.play();
        });

        let wavesurfer3 = WaveSurfer.create({
          container: '.waveform'
        });      
        wavesurfer3.load(`https://fk-audio.s3.amazonaws.com/${returns3.slice(1, -1)}`);
        wavesurfer3.on('ready', function() {
          wavesurfer3.play();
          wavesurfer3.toggleInteraction();
          wavesurfer3.setHeight(75);
        });
        wavesurfer3.on('finish', function(){
          wavesurfer3.play();
        });

        let wavesurfer4 = WaveSurfer.create({
          container: '.waveform'
        });      
        wavesurfer4.load(`https://fk-audio.s3.amazonaws.com/${returns4.slice(1, -1)}`);
        wavesurfer4.on('ready', function() {
          wavesurfer4.play();
          wavesurfer4.toggleInteraction();
          wavesurfer4.setHeight(75);
        });
        wavesurfer4.on('finish', function(){
          wavesurfer4.play();
        });

        let wavesurfer5 = WaveSurfer.create({
          container: '.waveform'
        });      
        wavesurfer5.load(`https://fk-audio.s3.amazonaws.com/${returns5.slice(1, -1)}`);
        wavesurfer5.on('ready', function() {
          wavesurfer5.play();
          wavesurfer5.toggleInteraction();
          wavesurfer5.setHeight(75);
        });
        wavesurfer5.on('finish', function(){
          wavesurfer5.play();
        });

        let wavesurfer6 = WaveSurfer.create({
          container: '.waveform'
        });      
        wavesurfer6.load(`https://fk-audio.s3.amazonaws.com/${returns6.slice(1, -1)}`);
        wavesurfer6.on('ready', function() {
          wavesurfer6.play();
          wavesurfer6.toggleInteraction();
          wavesurfer6.setHeight(75);
        });
        wavesurfer6.on('finish', function(){
          wavesurfer6.play();
        });
