block content
  h1= title
  p INTERN FORM
  - global.isLoggedIn = true
  - let files = fileInfo 
  - let bucketFiles = bucketStuff  

  if error
    p Error getting dynamic content.
  else    
    if global.isLoggedIn == true
      each file in files
        div=file.id
          form(method="POST" action=`/intern-update`)
            input(type="hidden" id="id" name="id" value=file.id)
            
            label(for="Name") Photo File Name:
            input(type="text" id="Name" name="Name" value=file.Name)
            br
            label(for="Composer") Composer Name:
            input(type="text" id="Composer" name="Composer" value=file.Composer)
            br
            label(for="StartSlice") Starting Snapshot:
            input(type="text" id="StartSlice" name="StartSlice" value=file.StartSlice)
            br
            label(for="EndSlice") Ending Snapshot
            input(type="text" id="EndSlice" name="EndSlice" value=file.EndSlice)            
            br  
            label(for="Bio") Bio
            input(type="text" id="Bio" name="Bio" value=file.Bio)
            br                                  
            input(type="submit" value="UPDATE")

          form(method="POST" action=`/intern-delete`)
            input(type="submit" value="DELETE")
            input(type="hidden" id="id" name="id" value=file.id)            
            label(for="Name") 
            input(type="hidden" id="Name" name="Name" value=file.Name)
            br
            label(for="Composer")
            input(type="hidden" id="Composer" name="Composer" value=file.Composer)
            br
            label(for="StartSlice")
            input(type="hidden" id="StartSlice" name="StartSlice" value=file.StartSlice)
            br
            label(for="EndSlice")
            input(type="hidden" id="EndSlice" name="EndSlice" value=file.EndSlice)            
            br  
            label(for="Bio")
            input(type="hidden" id="Bio" name="Bio" value=file.Bio)
            br                                  
            
          br
          br

      h1 Image File Names
      each thing in bucketStuff
        h3=thing.Name
        form(method="POST" action=`/delete-photo`)          
          input(type="hidden" id="id" name="file" value=thing.Name)   
          label(for="file")
          input(type="submit" value="DELETE")
        
          
      br
      br
      br




    div(class="solid")
      p UPLOAD YOUR FILE:
      form(method="POST" action="/intern-upload" id="uploadForm" encType="multipart/form-data")                 
        input(type="file" name="theUpload" id="uploadValue")                                          
        input(type="submit" form="uploadForm" id="uploadButton" value="UPLOAD")  
      
          
    br
    br

    //- script.
      
                
      

    //-   document.getElementById("uploadButton").disabled = true;
    //-   document.getElementById("uploadValue").disabled = false;


      //- function disableSubmit() {
      //-   let x = document.getElementById('uploadValue');
      //-   let y = x.value;                           
      //-     document.getElementbyId("uploadValue").disabled = true;        
      //-     document.getElementById("uploadButton").disabled = true;        
      //-   } else {
          
      //-     document.getElementById("uploadButton").disabled = false;
          
      //-   }}
      
      //- function redirect() {                 
      //-   let x = document.getElementById('uploadValue');
      //-   let y = x.value; 
      //-   let lastFour = y.substr(y.length - 4); // => ".mp3"                         
      //-   let fsize = x.files.item(0).size;
              
      //-   if (fsize < 209731438) {
      //-     setTimeout(function(){ document.getElementById("uploadButton").disabled = true }, 10);
      //-     setTimeout(function(){ window.open('/dashboard'); }, 10000);
      //-     elm = document.createElement('p');
      //-     elm.innerHTML = 'PLEASE WAIT...The file is uploading (this can take up to 10 seconds)...';
      //-     document.body.appendChild(elm);                        
      //-   }        
      //- }
    
  